
/**
 * @file
 * Main stylesheet file.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */


/*******************************************************************************
 * Main elements
 ******************************************************************************/
html {
  overflow-y: scroll;
}
body {
  font-family: "Trebuchet MS";
  font-size: 14px;
}
* {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
:focus {
  outline: none;
}
a {
  cursor: pointer;
}
/* Main elements end */


/*******************************************************************************
 * Various other styles
 ******************************************************************************/

/* Various other styles end */
